In [1]:
import pandas as pd
def readCsv(filepath):
    df = pd.read_csv(filepath)
    return df
filepath='DataFiles\Income.csv'
readCsv(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

### Define a function to caculate Average Income of all states from 2005 to 2013

In [2]:
def getStateIncome(df, state):
    records = df.values
    keys = list(df.head(0))[2:]
    state_income = {}
    for index in range(len(records)):
        if(records[index][1]== state):
            income = list(records[index][2:])
    for index in range(len(keys)):
        state_income[keys[index]] = income[index]
    return state_income
df = readCsv(filepath)
getStateIncome(df,'Alabama')

def averageIncome(df):
    records = df.values
    allstatesincome = []
    s = 0
    c = 0
    for i in range(len(records)):
        state = records[i][1]
        incomestate = getStateIncome(df,state)
        allstatesincome.append(incomestate)
    for info in allstatesincome:
        data = info.values()
        s=sum(data)
        c+=1
    return "Average Income of all states is: "+str(s//c)
df = readCsv(filepath)
averageIncome(df)

'Average Income of all states is: 99630'

### Function to find the state with highest average income in last 3 years.

In [7]:
def AverageLast3(df):
    record = df.values
    incomeLastThreeYears = {}
    averageincome = []
    
    for row in record:
        incomeLastThreeYears[row[1]]=row[-3:]
    for state in incomeLastThreeYears.items():
        s = 0
        c = 0
        s = s + sum(state[1])
        c+=len(state[1])
        averageincome.append(s//c)
    highestaveragestate = ' '
    for i in incomeLastThreeYears.items():
        if(sum(i[1])//len(i[1]) == max(averageincome)):
            highestaveragestate = highestaveragestate+i[0]
    return "State with highest average income in last three years is: "+ highestaveragestate
                
                
df = readCsv(filepath)
AverageLast3(df)

'State with highest average income in last three years is:  Alaska'

### Print the list of all states in the same line with average income less than California

In [11]:
def lowestAverageIncome(df, start_year, end_year):
    records = df.values
    headings = list(df.head(0))
    indices = [index for index,value in enumerate(headings) if start_year <= value <= end_year]
    #print(indices)
    data = {}
    
    for row in records:
        li = []
        s = 0
        c = 0
        for index in range(len(row)):
            if(index in indices):
                s += row[index]
                c += 1
                li.append(row[index])
        data[row[1]] = s//c
    low = min(data.values())
    state = ""
    for item in data.items():
        if(item[1]==low):
            state = state+item[0]
    #print(data)
    statelowestCali = data["California"]
    print("States with lowest income than California are below :")
    for item in data.items():
        if(item[1]<statelowestCali):
            print(item[0], end = " ")
    return "\nlowestStateIncome is "+state+' : '+str(low)
start_year =input()
end_year = input()
df = readCsv(filepath)
lowestAverageIncome(df,start_year,end_year)

'2007'
'2013'

ZeroDivisionError: integer division or modulo by zero

### Print the names of states based on descending order of income in the year 2009

In [15]:
def sortIncomes(df, year):
    records = df.values
    headings = list(df.head(0))
    indices = [index for index,value in enumerate(headings) if value == year]
    incomesInYear = []
    for row in records:
        for index in range(len(row)):
            if(index == indices[0]):
                incomesInYear.append(row[index])
    incomesInYear.sort(reverse = True)
    return incomesInYear
                
    
df = readCsv('DataFiles\Income.csv')

year = input()

sortIncomes(df, year)

2012

[63648, 57020, 47044, 43464, 39018]